{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    add category
{% endblock %}

{% block body_block %}
    <a href="/rango/category/{{ category.slug }}/add_page/">add page</a></br>
    {% if category %}
        <H1>{{ category.name }}</H1>
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no pages!</strong>
        {% endif %}
    {% else %}
    category doesn't exist!
    {% endif %}
{% endblock %}
